<div id="signup_content">

<span class="title">Sign-up for a BookShelf account...</span>
<%form_for :user, @user, :url => {:action => "signup"} do |f| %>

<div class="signup_field">
<label for="user_login">Login:</label>
<%= f.text_field :login %><br/>
</div>
<div class="signup_field">
<label for="user_first_name">First Name:</label>
<%= f.text_field :first_name %><br/>
</div>
<div class="signup_field">
<label for="last_name">Last Name:</label>
<%= f.text_field :last_name %><br/>
</div>
<div class="signup_field">
<label for="user_email">Email:</label>
<%= f.text_field :email %><br/>
</div>
<div class="signup_field">
<label for="user_password">Password:</label>
<%= f.password_field :password %><br/>
</div>
<div class="signup_field">
<label for="user_password_confirmation">Password Confirmation:</label>
<%= f.password_field :password_confirmation %><br/>
</div>

<%= submit_tag "Signup" %>
<% end %>


</div>